@use './navbar/index.scss' as navbar;
@use './partials/note.scss' as note;
@use './partials/notes.scss' as notes;
@use './partials/note-header.scss' as noteHeader;
@use './partials/note-text.scss' as noteText;
@use './partials/note-bubble.scss' as noteBubble;
@use './partials/note-menu.scss' as noteMenu;
@use './views/bubble-view.scss' as bubbleView;

.rs-notes {
    *,*::before,*::after {
        box-sizing: border-box;
    }
    @include notes.notes();
    @include note.note();
    @include navbar.navbar();
    @include noteHeader.noteHeader();
    @include noteText.noteText();
    @include noteMenu.noteMenu();
    @include noteBubble.noteBubble();
    @include bubbleView.bubbleView();
}
